body, html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.button {
    background: none;
    outline: none;
    border-radius: 2px;
    padding: 8;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid #455A64;
    color: #455A64;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
    opacity: 0.75;
    transition: 0.3s;
}

.button:hover {
    opacity: 1.0;
    background: #455A64;
    color: #FAFAFA;
}

.form {
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
    width: 50%;
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    border: 1px solid #F8F8F8;
    margin-left: 10px;
    margin-top: 5px;
    outline-width: 0;
    color: #333;
}

.form::placeholder {
    color: #333;
}

.form:focus {
    border: 1px solid #455A64;
}

#contract {
    position: absolute;
    left: 32.5%;
    top: 5%;
    width: 35%;
    height: 93%;
    background: #F8F8F8;
    border-radius: 10px;
    border: solid 2px #455A64;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
}

#contract ul {
    list-style: none;
}

#contract ul li {
    font-size: 20px;
}

#contract h1 {
    color: #455A64;
    text-align: center;
}

#contract hr {
    width: 90%;
    border: 2px solid #455A64;
}

#signature {
    background: #F8F8F8;
    border-radius: 10px;
    border: solid 2px #455A64;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.15);
}